.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.card-body{
  background-color: #495057;  
  border: 1px solid #6c757d; 
}
.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: none;
}
.card-title:hover {
  color: #007bff;
  text-decoration: none;
}