.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px; 
}

.search-form {
  width: 50%; 
}

.search-form .input-group {
  background-color: #495057;
  border: 1px solid #6c757d; 
  border-radius: 5px; 
}

.search-form .form-control {
  background-color: #495057;
  border: none; 
  color: #f8f9fa; 
}

.search-form .form-control::placeholder {
  color: #adb5bd;
}

.search-form .btn {
  background-color: #6c757d;
  border: none; 
  color: #f8f9fa; 
}

.search-form .btn:hover {
  background-color: #adb5bd;
}
