.carousel-item-container {
  position: relative;
  text-align: center;
}

.carousel-item-container img {
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px; 
}


.carousel-caption h5 {
  color: #000;
  font-size: 1.5rem;
  margin: 0;
}

.carousel-caption p {
  color: #666; 
  font-size: 1rem;
  margin: 5px 0 0;
}
