.carousel {
  background-color: #343a40; 
}

.carousel-item {
  color: #f8f9fa;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); 
}
.caption{
  justify-content: center;
  display: flex;
  padding: 10px;
}