.footer {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: #f8f9fa;
  padding: 40px 0;
}

.footer h4 {
  color: #fff;
}

.footer p {
  color: #f8f9fa;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links li a {
  color: #fff;
}

.bottom-bar {
  background-color: #212529;
  padding: 10px 0;
  text-align: center;
}

.bottom-bar p {
  margin: 0;
}
